<section class="section section-feature-grey is-medium" id="community">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Mailing List</h3>
    </div>

    <div class="content-wrapper">
      
      <div class="columns has-text-centered">
        <!-- <div class="column is-third social-wrap">
          <a href="https://slack.kubernetes.io/" class="social-icon">
            <span class="icon">
              <i class="fa fa-slack"></i>
            </span>
            <h4>Slack Channel</h5>
            <p><a href="https://slack.kubernetes.io/">Join</a> the Kubernetes Slack for related discussions in <a href="https://kubernetes.slack.com/messages/">#openservicemesh</a></p>
          </a>
        </div> -->
        <!-- <div class="column is-third social-wrap">
          <a href="#" class="social-icon">
            <span class="icon">
              <i class="fa fa-users"></i>
            </span>
            <h4>Meetings</h4>
            <p> Community meetings take place every _________ @ ________ .</p>
          </a>
        </div> -->
        <div class="column is-third social-wrap">
          <a href="https://github.com/openservicemesh/osm" class="social-icon">
            <!-- <span class="icon">
              <i class="fa fa-envelope"></i>
            </span> -->
          </a>
          <!-- <h4>Mailing List</h4> -->
          <p>Subscribe to the <a href="https://groups.google.com/g/openservicemesh">OSM mailing list</a> for updates about the project.</p>
        </div>
      </div>

    </div>
  </div>
</section>
