<section class="section home-section is-medium" id="community">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2>Communication</h2>
    </div>
    
    <div class="columns has-text-centered">
      <div class="column is-half social-wrap">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <span class="icon">
                <i class="fa fa-slack"></i>
              </span>
              <h4>Slack Channel</h4>
              <p><a href="https://slack.cncf.io/">Join</a> the CNCF Slack for related discussions in <a href="https://cloud-native.slack.com/archives/C018794NV1C">#openservicemesh</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half social-wrap">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <h4>Mailing List</h4>

              <p>Subscribe to the <a href="https://groups.google.com/g/openservicemesh">OSM mailing list</a> for updates about the project.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
