{{- $navbar         := .Site.Params.navbar }}

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <!-- <p><img src="images/wordmark.svg" alt="Open Service Mesh" /></p> -->
        <p><strong>Brought to you by <a href="https://azure.microsoft.com/en-us/">Microsoft Azure</a></strong>.</p>
        <p>OSM has adopted the <a href="https://opensource.microsoft.com/codeofconduct/">Microsoft Open Source Code of Conduct</a>.</p>
      </div>
      
      <div class="column is-half">
        <nav class="has-text-right">
          <div id="footerNav" class="navbar-menu has-text-right">
            <div class="navbar-start has-text-right">
              {{- range $navbar }}
              {{- if .sublinks }}
              <div class="navbar-item has-dropdown is-hoverable has-text-left">
                <a class="navbar-link" href=".url">
                  {{ .title }}
                </a>
              </div>
              {{- else if .button }}
              <a href="{{ .url }}" class="navbar-item">
                <span class="button signup-button rounded secondary-btn raised">
                  {{ .title }}
                </span>
              </a>
              {{- else }}
              <a href="{{ .url }}" class="navbar-item is-secondary">
                {{ .title }}
              </a>
              {{- end }}
              {{- end }}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>
