<div class="container intro">
  <div class="columns is-centered">
    <div class="column is-half has-text-left">
      <h1><a href="/" title="OSM"><img src="{{ .Site.BaseURL }}/images/openservicemesh.svg" alt="Open Service Mesh logo" /></a></h1>
    </div>
    <div class="column is-half has-text-right">
      <h2><a href="/" title="Open Service Mesh"><img src="{{ .Site.BaseURL }}/images/logo.svg" alt="Open Service Mesh" />
      </a></h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths">
      <p class="lead">Open Service Mesh (OSM) is a lightweight and extensible cloud-native service mesh.</p>
      <p>OSM takes a <strong>simple approach</strong> for users to uniformly manage, secure, and get out-of-the box observability features for highly dynamic microservices environments.</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths">
      <p class="offset">By leveraging the collaboration of the <a href="https://www.cncf.io/">CNCF</a> <a href="https://www.envoyproxy.io/">Envoy</a> network proxy project, OSM provides a simple interface for making configuration changes to your environment.</p>
    </div>
  </div>
</div>
