<div class="container intro" id="intro">
  <div class="columns is-centered is-hidden-touch">
    <div class="column is-half has-text-left">
      <h1><a href="/" title="OSM"><img src="{{ .Site.BaseURL }}/images/openservicemesh.svg" alt="Open Service Mesh logo" /></a></h1>
    </div>
    <div class="column is-half has-text-right">
      <h2><a href="/" title="Open Service Mesh"><img src="{{ .Site.BaseURL }}/images/logo.svg" alt="Open Service Mesh" />
      </a></h2>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column offset-one-fifth is-three-fifths">
      <p class="lead">Open Service Mesh (OSM) is a lightweight and extensible cloud native service mesh.</p>
      
      <p>OSM takes a <strong>simple approach</strong> for users to uniformly manage, secure, and get out-of-the box observability features for highly dynamic microservice environments.</p>

      <p>Using the <a href="https://www.cncf.io/">CNCF</a> <a href="https://www.envoyproxy.io/">Envoy</a> project, OSM implements <a href="https://smi-spec.io/">Service Mesh Interface</a> (SMI) for securing and managing your microservice applications.</p>

      <p>The OSM project builds on the ideas and implementations of many cloud native ecosystem projects including <a href="https://linkerd.io/" target="_blank">Linkerd</a>, <a href="https://istio.io/" target="_blank">Istio</a>, <a href="https://consul.io/" target="_blank">Consul</a>, <a href="https://envoyproxy.io/" target="_blank">Envoy</a>, <a href="https://helm.sh/" target="_blank">Helm</a>, and the <a href="https://smi-spec.io/" target="_blank">SMI</a> specification.</p>
    </div>
  </div>
</div>
