{{- $navbar         := .Site.Params.navbar }}

<nav class="navbar no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        {{- range $navbar }}
        {{- if .sublinks }}
        <div class="navbar-item has-dropdown is-hoverable has-text-left">
          <a class="navbar-link" href=".url">
            {{ .title }}
          </a>
        </div>
        {{- else if .button }}
        <a href="{{ .url }}" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            {{ .title }}
          </span>
        </a>
        {{- else }}
        <a href="{{ .url }}" class="navbar-item is-secondary">
          {{ .title }}
        </a>
        {{- end }}
        {{- end }}
      </div>

      <a class="github-button" href="https://github.com/openservicemesh/osm" data-icon="octicon-eye" aria-label="Watch openservicemesh/osm on GitHub">Watch</a>

      <a class="github-button" href="https://github.com/openservicemesh/osm" data-icon="octicon-star" aria-label="Star openservicemesh/osm on GitHub">Star</a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-mobile is-hidden-desktop">

  <a href="/">
    <img src="../images/osm-logo-left.svg" alt="Open Service Mesh" />
  </a>
  {{- range $navbar }}
  {{- if .sublinks }}
  <div class="navbar-item has-dropdown is-hoverable has-text-left">
    <a class="navbar-link" href=".url">
      {{ .title }}
    </a>
  </div>
  {{- else if .button }}
  <a href="{{ .url }}" class="navbar-item">
    <span class="button signup-button rounded secondary-btn raised">
      {{ .title }}
    </span>
  </a>
  {{- else }}
  <a href="{{ .url }}" class="navbar-item is-secondary">
    {{ .title }}
  </a>
  {{- end }}
  {{- end }}
</nav>
