<div class="container principles">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half has-text-left">
      <h2 class="has-text-centered">OSM is guided by 4 <strong>principles</strong>:</h2>

      <ul class="list">
        <li><strong>Compatible</strong> with CNCF Service Mesh Interface (<a href="https://smi-spec.io/" title="SMI Spec">SMI</a>)​</li>
        <li><strong>Effortless</strong> to install, maintain, and operate</li>
        <li><strong>Simple</strong> to understand and contribute to​</li>
        <li><strong>Flexible</strong> enough to handle both simple and complex scenarios through SMI and Envoy XDS APIs</li>
      </ul>

      <div class="text-align-center is-centered has-text-centered">
        <a href="https://github.com/openservicemesh/osm/" class="button is-primary is-rounded is-large is-centered">
          <i class="fa fa-github"></i> Learn More
        </a>

        <p><small><a href="https://github.com/openservicemesh/osm#getting-started">Check out the getting started guide to install OSM.</a></small></p>
      </div>

    </div>
  </div>
</div>
