<div class="container principles home-section">
  <div class="columns is-centered is-mobile is-vcentered">
    <div class="column has-text-left">
      <h2 class="has-text-centered">OSM guiding <strong>principles</strong>:</h2>

      <div class="columns is-vcentered is-mobile is-desktop">
        <div class="column is-half-desktop">
          <section><strong>Compatible</strong> with CNCF Service Mesh Interface (<a href="https://smi-spec.io/" title="SMI Spec">SMI</a>)​</section>
        </div>
        <div class="column is-half-desktop">
          <section><strong>Effortless</strong> to install, maintain, and operate</section>
        </div>
      </div>
      <div class="columns is-vcentered is-mobile is-desktop">
        <div class="column is-half-desktop">
          <section><strong>Simple</strong> to understand and contribute to​</section>
        </div>
        <div class="column is-half-desktop">
          <section><strong>Flexible</strong> enough to handle both simple and complex scenarios through SMI and Envoy XDS APIs</section>
        </div>
      </div>
      <div class="columns is-vcentered is-mobile is-desktop">
        <div class="column is-full">
          <div class="text-align-center is-centered has-text-centered">
            <a href="https://github.com/openservicemesh/osm/" class="button is-primary is-rounded is-large is-centered">
              <i class="fa fa-github"></i> Learn More
            </a>
    
            <p><small><a href="https://github.com/openservicemesh/osm#getting-started">Check out the getting started guide to install OSM.</a></small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
