<div class="container principles home-section">
  <div class="columns is-centered is-mobile is-vcentered">
    <div class="column has-text-left">
      <h2 class="has-text-centered">OSM guiding <strong>principles</strong></h2>

      <div class="columns is-vcentered is-desktop">
        <div class="column is-half-desktop is-full-mobile">
          <section>Simple to understand and contribute to</section>
        </div>
        <div class="column is-half-desktop is-full-mobile">
          <section>Effortless to install, maintain, and operate</section>
        </div>
      </div>
      <div class="columns is-vcentered is-desktop">
        <div class="column is-half-desktop is-full-mobile">
          <section>Painless to troubleshoot​</section>
        </div>
        <div class="column is-half-desktop is-full-mobile">
          <section>Easy to configure via <a href="https://smi-spec.io/">Service Mesh Interface</a> (SMI)</section>
        </div>
      </div>
      <div class="columns is-vcentered is-desktop">
        <div class="column is-full">
          <div class="text-align-center is-centered has-text-centered">
            <a href="https://github.com/openservicemesh/osm/" class="button is-primary is-rounded is-large is-centered">
              <i class="fa fa-github"></i> Learn More
            </a>
    
            <p><small><a href="https://github.com/openservicemesh/osm#getting-started">Check out the getting started guide to install OSM.</a></small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
