# ref: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# CODEOWNERS include members of the osm-maintainers team - https://github.com/orgs/openservicemesh/teams/osm-maintainers/members
# CODEOWNERS include members of the osm-www team - https://github.com/orgs/openservicemesh/teams/osm-www/members
* @openservicemesh/osm-maintainers @openservicemesh/osm-www
