{{ define "main" }}
{{- $navbar         := .Site.Params.navbar }}

{{ partial "navbar.html" . }}

{{ partial "intro-sm.html" . }}

<div class="container blog blog-wrapper blog-single">
  <div class="columns is-centered">

    <article class="post column is-two-thirds post-view">

      <h1>{{ .Title }}</h1>
      <hr />

      <p class="author"><a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.authorname }}<br> <small>{{ .Params.author }}</a></small></p>

      <p class="date">{{ .Date.Format "Jan 02, 2006" }}</p>
      
      <div class="post-content">{{ .Content }}</div>
    </article>

  </div>
</div>

{{ partial "footer.html" . }}

{{ end }}
