{{ define "main" }}
{{- $navbar         := .Site.Params.navbar }}

<nav class="navbar no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        {{- range $navbar }}
        {{- if .sublinks }}
        <div class="navbar-item has-dropdown is-hoverable has-text-left">
          <a class="navbar-link" href=".url">
            {{ .title }}
          </a>
        </div>
        {{- else if .button }}
        <a href="{{ .url }}" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            {{ .title }}
          </span>
        </a>
        {{- else }}
        <a href="{{ .url }}" class="navbar-item is-secondary">
          {{ .title }}
        </a>
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half has-text-left">
      <h1><a href="/" title="OSM"><img src="images/openservicemesh.svg" alt="Open Service Mesh logo" /></a></h1>
    </div>
    <div class="column is-half has-text-right">
      <h2><a href="/" title="Open Service Mesh"><img src="images/logo.svg" alt="Open Service Mesh" />
      </a></h2>
    </div>
  </div>
  <div class="columns is-centered is-vcentered">
    <div class="column has-text-center">
      <p class="lead">Open Service Mesh (OSM) is a lightweight and extensible cloud-native service mesh that takes a simple approach for users to uniformly manage, secure, and get out-of-the box observability features for highly dynamic microservices environments.</p>
      <p>By leveraging the collaboration of the <a href="https://www.cncf.io/">CNCF</a> <a href="https://www.envoyproxy.io/">Envoy</a> network proxy project, OSM provides a simple interface for making configuration changes to your environment.</p>
    </div>
  </div>

  <div class="columns is-centered is-vcentered">
    <div class="column has-text-center">
      <h3>OSM is guided by 4 <strong>principles</strong>:</h3>

      <div class="columns is-centered is-vcentered">
        <div class="column has-text-center">
          <p>Standardized to the CNCF <a href="https://smi-spec.io/" title="SMI Spec">Service Mesh Interface (SMI)</a> specification</p>
        </div>

        <div class="column has-text-center">
          <p>Effortless to install, maintain, and operate</p>
        </div>

        <div class="column has-text-center">
          <p>Painless to troubleshoot</p>
        </div>

        <div class="column has-text-center">
          <p>Simple to understand and contribute to</p>
        </div>
      </div>

      <div class="text-align-center is-centered has-text-centered">
        <a href="https://github.com/openservicemesh/osm/" class="button is-primary is-rounded is-large is-centered">Learn More</a>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-half has-text-left">
        <img src="images/wordmark.svg" alt="Open Service Mesh" />
        
        <p>Brought to you by Microsoft Azure</p>
        <p>OSM has adopted the <a href="https://opensource.microsoft.com/codeofconduct/">Microsoft Open Source Code of Conduct</a>.</p>
      </div>
      
      <div class="column is-half has-text-right">
        <nav class="has-text-right">
          <div id="footerNav" class="navbar-menu has-text-right">
            <div class="navbar-start has-text-right">
              {{- range $navbar }}
              {{- if .sublinks }}
              <div class="navbar-item has-dropdown is-hoverable has-text-left">
                <a class="navbar-link" href=".url">
                  {{ .title }}
                </a>
              </div>
              {{- else if .button }}
              <a href="{{ .url }}" class="navbar-item">
                <span class="button signup-button rounded secondary-btn raised">
                  {{ .title }}
                </span>
              </a>
              {{- else }}
              <a href="{{ .url }}" class="navbar-item is-secondary">
                {{ .title }}
              </a>
              {{- end }}
              {{- end }}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>

{{ end }}
