{{ define "main" }}
{{- $navbar         := .Site.Params.navbar }}

<nav class="navbar no-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div id="topNav" class="navbar-menu">
      <div class="navbar-start">
        {{- range $navbar }}
        {{- if .sublinks }}
        <div class="navbar-item has-dropdown is-hoverable has-text-left">
          <a class="navbar-link" href=".url">
            {{ .title }}
          </a>
        </div>
        {{- else if .button }}
        <a href="{{ .url }}" class="navbar-item">
          <span class="button signup-button rounded secondary-btn raised">
            {{ .title }}
          </span>
        </a>
        {{- else }}
        <a href="{{ .url }}" class="navbar-item is-secondary">
          {{ .title }}
        </a>
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</nav>

<div class="container intro">
  <div class="columns is-centered">
    <div class="column is-half has-text-left">
      <h1><a href="/" title="OSM"><img src="images/openservicemesh.svg" alt="Open Service Mesh logo" /></a></h1>
    </div>
    <div class="column is-half has-text-right">
      <h2><a href="/" title="Open Service Mesh"><img src="images/logo.svg" alt="Open Service Mesh" />
      </a></h2>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-fifth is-three-fifths">
      <p>Open Service Mesh (OSM) is a lightweight and extensible cloud-native service mesh that takes a simple approach for users to uniformly manage, secure, and get out-of-the box observability features for highly dynamic microservices environments.</p>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-two-fifths is-three-fifths">
      <p>By leveraging the collaboration of the <a href="https://www.cncf.io/">CNCF</a> <a href="https://www.envoyproxy.io/">Envoy</a> network proxy project, OSM provides a simple interface for making configuration changes to your environment.</p>
    </div>
  </div>
</div>

<div class="container principles">
  <div class="columns is-centered is-vcentered">
    <div class="column is-half has-text-left">
      <h2 class="has-text-centered">OSM is guided by 4 <strong>principles</strong>:</h2>

      <ul class="principles0list">
        <li><strong>Compatible</strong> with CNCF Service Mesh Interface (<a href="https://smi-spec.io/" title="SMI Spec">SMI</a>)​</li>
        <li><strong>Effortless</strong> to install, maintain, and operate</li>
        <li><strong>Simple</strong> to understand and contribute to​</li>
        <li><strong>Flexible</strong> enough to handle both simple and complex scenarios through SMI and Envoy XDS APIs</li>
      </ul>

      <div class="text-align-center is-centered has-text-centered">
        <a href="https://github.com/openservicemesh/osm/" class="button is-primary is-rounded is-large is-centered">
          <i class="fa fa-github"></i> Learn More
        </a>

        <p><small>Check out the <a href="https://github.com/openservicemesh/osm/tree/main/docs">project docs</a> and <a href="https://github.com/openservicemesh/osm/blob/main/docs/installation_guide.md">installation guide</a>.</small></p>
      </div>

    </div>
  </div>
</div>

<section class="section section-feature-grey is-medium" id="community">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h3 class="title is-6">Communications</h3>
    </div>

    <div class="content-wrapper">
      
      <div class="columns has-text-centered">
        <div class="column is-third social-wrap">
          <a href="https://slack.kubernetes.io/" class="social-icon">
            <span class="icon">
              <i class="fa fa-slack"></i>
            </span>
            <h4>Slack Channel</h5>
            <p><a href="https://slack.kubernetes.io/">Join</a> the Kubernetes Slack for related discussions in <a href="#">#openservicemesh</a></p>
          </a>
        </div>
        <div class="column is-third social-wrap">
          <a href="#" class="social-icon">
            <span class="icon">
              <i class="fa fa-users"></i>
            </span>
            <h4>Meetings</h4>
            <p> Community meetings take place every _________ @ ________ .</p>
          </a>
        </div>
        <div class="column is-third social-wrap">
          <a href="https://github.com/openservicemesh/osm" class="social-icon">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
          </a>
          <h4>Mailing List</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <p><img src="images/wordmark.svg" alt="Open Service Mesh" /></p>
        <p>Brought to you by Microsoft Azure. <br>
          OSM has adopted the <a href="https://opensource.microsoft.com/codeofconduct/">Microsoft Open Source Code of Conduct</a>.</p>
      </div>
      
      <div class="column is-half has-text-right">
        <nav class="has-text-right">
          <div id="footerNav" class="navbar-menu has-text-right">
            <div class="navbar-start has-text-right">
              {{- range $navbar }}
              {{- if .sublinks }}
              <div class="navbar-item has-dropdown is-hoverable has-text-left">
                <a class="navbar-link" href=".url">
                  {{ .title }}
                </a>
              </div>
              {{- else if .button }}
              <a href="{{ .url }}" class="navbar-item">
                <span class="button signup-button rounded secondary-btn raised">
                  {{ .title }}
                </span>
              </a>
              {{- else }}
              <a href="{{ .url }}" class="navbar-item is-secondary">
                {{ .title }}
              </a>
              {{- end }}
              {{- end }}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</footer>

{{ end }}
